In [1]:
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
from alpha_vantage.fundamentaldata import FundamentalData 
import pandas as pd

In [2]:
API_key = 'ZFX92CIREXMQRIZV'
ts = TimeSeries(key = API_key, output_format = 'pandas')
ti = TechIndicators(key = API_key, output_format = 'pandas', indexing_type = 'date')
fd = FundamentalData(key = API_key, output_format = 'pandas', indexing_type = 'date')

In [3]:
Ticker = 'TSLA'

In [4]:
history1 = ts.get_intraday(Ticker)
history1 = history1[0]

In [5]:
history1

                     1. open  2. high   3. low  4. close  5. volume
date
2022-09-23 20:00:00  275.390  276.000  275.380    275.75    38895.0
2022-09-23 19:45:00  275.710  275.740  275.200    275.39    21611.0
2022-09-23 19:30:00  275.840  275.850  275.600    275.71    16348.0
2022-09-23 19:15:00  275.300  275.760  275.300    275.70    18891.0
2022-09-23 19:00:00  275.340  275.350  275.240    275.33     4369.0
...                      ...      ...      ...       ...        ...
2022-09-22 12:15:00  291.465  292.310  290.220    290.68  1912042.0
2022-09-22 12:00:00  291.430  292.890  291.130    291.48  2567937.0
2022-09-22 11:45:00  289.950  291.625  289.525    291.43  3053938.0
2022-09-22 11:30:00  288.620  289.930  287.870    289.92  2499417.0
2022-09-22 11:15:00  288.930  289.010  287.720    288.68  2682873.0

[100 rows x 5 columns]

In [6]:
history1['percentage'] = (history1['1. open'] - history1['4. close'])/history1['1. open']
history1

,1. open,2. high,3. low,4. close,5. volume,percentage
date,,,,,,
2022-09-23 20:00:00,275.390,276.000,275.380,275.75,38895.0,-0.001307
2022-09-23 19:45:00,275.710,275.740,275.200,275.39,21611.0,0.001161
2022-09-23 19:30:00,275.840,275.850,275.600,275.71,16348.0,0.000471
2022-09-23 19:15:00,275.300,275.760,275.300,275.70,18891.0,-0.001453
2022-09-23 19:00:00,275.340,275.350,275.240,275.33,4369.0,0.000036
...,...,...,...,...,...,...
2022-09-22 12:15:00,291.465,292.310,290.220,290.68,1912042.0,0.002693
2022-09-22 12:00:00,291.430,292.890,291.130,291.48,2567937.0,-0.000172
2022-09-22 11:45:00,289.950,291.625,289.525,291.43,3053938.0,-0.005104
2022-09-22 11:30:00,288.620,289.930,287.870,289.92,2499417.0,-0.004504
2022-09-22 11:15:00,288.930,289.010,287.720,288.68,2682873.0,0.000865

In [7]:
data, meta_data = fd.get_company_overview(symbol = 'AMZN')

In [11]:
data.columns

["Amazon.com, Inc. is an American multinational technology company which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is one of the Big Five companies in the U.S. information technology industry, along with Google, Apple, Microsoft, and Facebook. The company has been referred to as one of the most influential economic and cultural forces in the world, as well as the world's most valuable brand."]

In [8]:
data.columns.to_list()

['Symbol',
 'AssetType',
 'Name',
 'Description',
 'CIK',
 'Exchange',
 'Currency',
 'Country',
 'Sector',
 'Industry',
 'Address',
 'FiscalYearEnd',
 'LatestQuarter',
 'MarketCapitalization',
 'EBITDA',
 'PERatio',
 'PEGRatio',
 'BookValue',
 'DividendPerShare',
 'DividendYield',
 'EPS',
 'RevenuePerShareTTM',
 'ProfitMargin',
 'OperatingMarginTTM',
 'ReturnOnAssetsTTM',
 'ReturnOnEquityTTM',
 'RevenueTTM',
 'GrossProfitTTM',
 'DilutedEPSTTM',
 'QuarterlyEarningsGrowthYOY',
 'QuarterlyRevenueGrowthYOY',
 'AnalystTargetPrice',
 'TrailingPE',
 'ForwardPE',
 'PriceToSalesRatioTTM',
 'PriceToBookRatio',
 'EVToRevenue',
 'EVToEBITDA',
 'Beta',
 '52WeekHigh',
 '52WeekLow',
 '50DayMovingAverage',
 '200DayMovingAverage',
 'SharesOutstanding',
 'DividendDate',
 'ExDividendDate']